.hero-container {
    display: flex;
    align-items: center;
    background-color: lightseagreen;
    padding: 20px;
    font-size: 2em;
}
.hero-container button{
    background-color: orangered;
    padding: 10px 20px;
}
.hero-container img{
    width: 100%;
    height: 200px;
}
body{
    max: width 1100px;
    background-color: thistle;
    margin: auto;
}