nav li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav li:hover {
    background-color: aqua;
}
nav li a {
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 50px;
}