body{
    background-color: beige;
    max-width: 1200px;
    margin: 0 auto; 
}
.card-section{
    margin: 50px 50px 50px 50px;
    text-align: center;
  
}
.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 240px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow:10px 10px 5px grey;
    margin-left: 10px;
}
.card:hover{
    background-color: lightseagreen;
}
.card h3{
    text-align: center;
    color: darkred;
    font-weight: bold;
}
.card img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}
.card button{
     background-color: lightblue;
    padding: 10px 20px;
}